@mixin font-face( $family, $file, $weight: 400, $style: normal ) {
    @font-face {
      font-family: $family;
      font-style: $style;
      font-weight: $weight;
      src: url('../fonts/#{$file}.ttf') format('opentype');
    }
}
